<a href="https://colab.research.google.com/github/Kanyarat-S/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้

* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)) ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ

จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv) ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv) อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ)) (คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

##รายชื่อสมาชิกภายในกลุ่ม
นางสาวกัลยารัตน์ แสนสมบัติ 623020513-7 SC-SI

นางสาววัชราภรณ์ นามมุงคุณ 623020535-7 SC-SI

นางสาวสุวรีย์ ธรรมคูณเศรษฐ์ 623020735-9 SC-STAT

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมเข้ากับ Drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #os เอาไว้จัดการไฟล์และ path

In [4]:
path = '/content/drive/My Drive/DataViz22_data'

In [5]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'))

In [6]:
hospital = os.path.join(path,'hospital_list.xlsx')
hospital = pd.read_excel(hospital)

###ข้อมูล alldb

In [7]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

###ข้อมูล hospital

In [8]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

##Data Pre-Processing
###เลือก Column ที่ต้องการใช้งาน

In [15]:
alldb2 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title']] 
alldb2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed
...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed

###ตรวจสอบค่า Missing ข้อมูล alldb

In [16]:
alldb2.isnull().any()

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
title           True
dtype: bool

###ตัดค่า Missing โดยการ .dropna()

In [17]:
alldb3 = alldb2.dropna()
alldb3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz,data is not completed

In [18]:
alldb3.shape #ตรวจสอบขนาดของตาราง

(38237, 10)

###คำนวณหาข้อมูลที่หายไป

In [19]:
removes = alldb2.shape[0] - alldb3.shape[0] 
removes

1798

In [20]:
(removes/alldb2.shape[0])*100

4.491070313475709

จากการคำนวณพบว่าข้อมูลที่หายได้เท่ากับ 1372 คิดเป็น 3.427001373797927 %

In [21]:
alldb3.isnull().any() #ไม่มีค่า missing แล้ว

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
dtype: bool

###เช็คtype ของข้อมูล

In [22]:
alldb3.dtypes

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
title           object
dtype: object

###แก้ไข user, site, ov และPartitionKey เป็นตัวเลข 5 หลัก

In [23]:
kk1=list() ## กำหนดให้เป็นลิสต์ในการเติมค่าloop
for each_row in alldb3.iterrows(): ## ทำการวนลูปในแถว
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไขให้ user มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['user']) <= '99999' : #ถ้า user มีค่า น้อยกว่า 100000
          kk1.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไป
        elif str(each_row[1]['user']) >= '99999' : #ถ้า user มีค่า มากกว่า 100000
            kk1.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไป
    else:
        kk1.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไป

alldb3[kk1] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [24]:
data1 = alldb3[kk1]

In [25]:
set(data1['user'])

{'64199',
 '24491',
 '36692',
 '32077',
 '78901',
 '76642',
 '02102',
 '88315',
 '24641',
 '53089',
 '25683',
 '01637',
 '73557',
 '80289',
 '63767',
 '63381',
 '36001',
 '73445',
 '63951',
 '51175',
 '00282',
 '43657',
 '87181',
 '64817',
 '28186',
 '78231',
 '14255',
 '29094',
 '61591',
 '51065',
 '01431',
 '94538',
 '86407',
 '16372',
 '54788',
 '72186',
 '47157',
 '20452',
 '10405',
 '00115',
 '94988',
 '90516',
 '76246',
 '78960',
 '00190',
 '54599',
 '00083',
 '19875',
 '45680',
 '61218',
 '23338',
 '29514',
 '26859',
 '92893',
 '87536',
 '00011',
 '84495',
 '00002',
 '00209',
 '00286',
 '11282',
 '00216',
 '04461',
 '61419',
 '31283',
 '90872',
 '41000',
 '84935',
 '31114',
 '19364',
 '53045',
 '54538',
 '80734',
 '95978',
 '19265',
 '31994',
 '82277',
 '45729',
 '65953',
 '04193',
 '26651',
 '86758',
 '50349',
 '71378',
 '26199',
 '00328',
 '04221',
 '00126',
 '27604',
 '00271',
 '00307',
 '46897',
 '23796',
 '03831',
 '00162',
 '52350',
 '80847',
 '02825',
 '32666',
 '55075',
 '51568',
 '00941',
 '80364',
 '21177',
 '32200',
 '66473',
 '27902',
 '53188',
 '83937',
 '18513',
 '63306',
 '43431',
 '31062',
 '46291',
 '48255',
 '51689',
 '25466',
 '79817',
 '46662',
 '28241',
 '46960',
 '04055',
 '77670',
 '84005',
 '03731',
 '22722',
 '23416',
 '29271',
 '93671',
 '74335',
 '42453',
 '00142',
 '73225',
 '63606',
 '10375',
 '36358',
 '18892',
 '39638',
 '20395',
 '09343',
 '46313',
 '09072',
 '15731',
 '02862',
 '25403',
 '68006',
 '46775',
 '89475',
 '70492',
 '60879',
 '63068',
 '30660',
 '40886',
 '00204',
 '33664',
 '02853',
 '55430',
 '92691',
 '52209',
 '11522',
 '31762',
 '00113',
 '00017',
 '86588',
 '48440',
 '00565',
 '21010',
 '50900',
 '50727',
 '92073',
 '52481',
 '29051',
 '95668',
 '97831',
 '38614',
 '82685',
 '37915',
 '20061',
 '00033',
 '00235',
 '06268',
 '34801',
 '70973',
 '03100',
 '43143',
 '75911',
 '00183',
 '84063',
 '30121',
 '05291',
 '98829',
 '24622',
 '17415',
 '28010',
 '08370',
 '00582',
 '27143',
 '54974',
 '09315',
 '96417',
 '13073',
 '03308',
 '39965',
 '49387',
 '00040',
 '89394',
 '00294',
 '62768',
 '33503',
 '53980',
 '72451',
 '34705',
 '26511',
 '71921',
 '03421',
 '23630',
 '14390',
 '00149',
 '12022',
 '00265',
 '59266',
 '05038',
 '92948',
 '46767',
 '87733',
 '50466',
 '61182',
 '23010',
 '09582',
 '95810',
 '00148',
 '35888',
 '89913',
 '53510',
 '27484',
 '70490',
 '74951',
 '93527',
 '00116',
 '19211',
 '45924',
 '73336',
 '60953',
 '10348',
 '65664',
 '00038',
 '01428',
 '74523',
 '98908',
 '33643',
 '01312',
 '00196',
 '26776',
 '05116',
 '48493',
 '62491',
 '10264',
 '45752',
 '92756',
 '98509',
 '10982',
 '93726',
 '87697',
 '47429',
 '88973',
 '75579',
 '00284',
 '50802',
 '12044',
 '07203',
 '00117',
 '13824',
 '28731',
 '17966',
 '70455',
 '83943',
 '81095',
 '18849',
 '06924',
 '00210',
 '34096',
 '14455',
 '37691',
 '00566',
 '00155',
 '64671',
 '90609',
 '10105',
 '76486',
 '52147',
 '10518',
 '05849',
 '01762',
 '19411',
 '76803',
 '76014',
 '24612',
 '26043',
 '58500',
 '92241',
 '20215',
 '38547',
 '11159',
 '87374',
 '66780',
 '16783',
 '83377',
 '76331',
 '00211',
 '91209',
 '77567',
 '05047',
 '46643',
 '56044',
 '29118',
 '09529',
 '37259',
 '40035',
 '73204',
 '68081',
 '97255',
 '00133',
 '11742',
 '38305',
 '00112',
 '05358',
 '00005',
 '07556',
 '89470',
 '47858',
 '98080',
 '40553',
 '62616',
 '29907',
 '26440',
 '06271',
 '54932',
 '37127',
 '52724',
 '40533',
 '90612',
 '70409',
 '22635',
 '02547',
 '50837',
 '55299',
 '81197',
 '51403',
 '46732',
 '21955',
 '48962',
 '00306',
 '11569',
 '90257',
 '37186',
 '00176',
 '37826',
 '70610',
 '73496',
 '06283',
 '62261',
 '54214',
 '04325',
 '80463',
 '31401',
 '86774',
 '34210',
 '08971',
 '92431',
 '83900',
 '89329',
 '77862',
 '00169',
 '27732',
 '23889',
 '49215',
 '61087',
 '75910',
 '30041',
 '48393',
 '87218',
 '59721',
 '92042',
 '69037',
 '14914',
 '61605',
 '87029',
 '76299',
 '00022',
 '73876',
 '03562',
 '98519',
 '65775',
 '00288',
 '00025',
 '54192',
 '25593',
 '10046',
 '00021',
 '34409',
 '13978',
 '25478',
 '01467',
 '77645',
 '04857',
 '11387',
 '77249',
 '67094',
 '87394',
 '26445',
 '89251',
 '32591',
 '86542',
 '74840',
 '63748',
 '00276',
 '93189',
 '23231',
 '02579',
 '36385',
 '64612',
 '89801',
 '00032',
 '76819',
 '70948',
 '96786',
 '96349',
 '00165',
 '22244',
 '01088',
 '14505',
 '04405',
 '00053',
 '08734',
 '17769',
 '69681',
 '00910',
 '23078',
 '78673',
 '44199',
 '42173',
 '74394',
 '33237',
 '73946',
 '79493',
 '04387',
 '77743',
 '37216',
 '94150',
 '14491',
 '30283',
 '47061',
 '74861',
 '36362',
 '11611',
 '05219',
 '39529',
 '58668',
 '00357',
 '62070',
 '00624',
 '07331',
 '71970',
 '00004',
 '26841',
 '18253',
 '83449',
 '32816',
 '29760',
 '60847',
 '86547',
 '80175',
 '32873',
 '62941',
 '31229',
 '44018',
 '19671',
 '40577',
 '50004',
 '00129',
 '22804',
 '05151',
 '02639',
 '84276',
 '00312',
 '67352',
 '82954',
 '00267',
 '00156',
 '96771',
 '65254',
 '00287',
 '84375',
 '25221',
 '09188',
 '22692',
 '46597',
 '53481',
 '00027',
 '11361',
 '05019',
 '17055',
 '56051',
 '89681',
 '47623',
 '70957',
 '50951',
 '71805',
 '00197',
 '71998',
 '85433',
 '97965',
 '23214',
 '77782',
 '25331',
 '95927',
 '73251',
 '55865',
 '48069',
 '24229',
 '49659',
 '16630',
 '24994',
 '28992',
 '43228',
 '18393',
 '77384',
 '28291',
 '71891',
 '01009',
 '00045',
 '90154',
 '64385',
 '17982',
 '03381',
 '31582',
 '36481',
 '66191',
 '00132',
 '01403',
 '16970',
 '45787',
 '99475',
 '33791',
 '91811',
 '77706',
 '31086',
 '05374',
 '63312',
 '44502',
 '00345',
 '30016',
 '77254',
 '50063',
 '22680',
 '85702',
 '53751',
 '18769',
 '41340',
 '80253',
 '52912',
 '73038',
 '99376',
 '27802',
 '14360',
 '08773',
 '70059',
 '34317',
 '60581',
 '65656',
 '27529',
 '00200',
 '02693',
 '45825',
 '83257',
 '86271',
 '44509',
 '46341',
 '97505',
 '42098',
 '46902',
 '00170',
 '00009',
 '43868',
 '77726',
 '59181',
 '00291',
 '00251',
 '03736',
 '12839',
 '22119',
 '00399',
 '11198',
 '12023',
 '79028',
 '70054',
 '50577',
 '00164',
 '49596',
 '18954',
 '50756',
 '00274',
 '00272',
 '95193',
 '49103',
 '08072',
 '63880',
 '13312',
 '32310',
 '12786',
 '65678',
 '24468',
 '52902',
 '42465',
 '48646',
 '15102',
 '77665',
 '55300',
 '69091',
 '22688',
 '11816',
 '15734',
 '66155',
 '75251',
 '69431',
 '95609',
 '00313',
 '00208',
 '02759',
 '00044',
 '19250',
 '34791',
 '40551',
 '83777',
 '37091',
 '52219',
 '38778',
 '26442',
 '02889',
 '00223',
 '14387',
 '63564',
 '19241',
 '00026',
 '31011',
 '22421',
 '00303',
 '33121',
 '77576',
 '61486',
 '50284',
 '00006',
 '00043',
 '35605',
 '30767',
 '29417',
 '16675',
 '36994',
 '41301',
 '50144',
 '75921',
 '33251',
 '53920',
 '00321',
 '44902',
 '62241',
 '46285',
 '05182',
 '32914',
 '57398',
 '55873',
 '00404',
 '03338',
 '00131',
 '13088',
 '00154',
 '46415',
 '26082',
 '51892',
 '32387',
 '53333',
 '00024',
 '21860',
 '53330',
 '15801',
 '92580',
 '79834',
 '93028',
 '59423',
 '65733',
 '74069',
 '82054',
 '18331',
 '77587',
 '31982',
 '00260',
 '17132',
 '66771',
 '49634',
 '27129',
 '16754',
 '00076',
 '64211',
 '00295',
 '03217',
 '13406',
 '45593',
 '86113',
 '07427',
 '84459',
 '97461',
 '03359',
 '34988',
 '06385',
 '39539',
 '00322',
 '01861',
 '00150',
 '38381',
 '86545',
 '63865',
 '73772',
 '95161',
 '26957',
 '07166',
 '10695',
 '27046',
 '63477',
 '72169',
 '37151',
 '76096',
 '30511',
 '00297',
 '38771',
 '63471',
 '03617',
 '99771',
 '51060',
 '31811',
 '86981',
 '49424',
 '59226',
 '92962',
 '45485',
 '69789',
 '09902',
 '80481',
 '00030',
 '96760',
 '85737',
 '80511',
 '02217',
 '74369',
 '16848',
 '17790',
 '65632',
 '74964',
 '06655',
 '41042',
 '72988',
 '02263',
 '78257',
 '05063',
 '26540',
 '25943',
 '02471',
 '74103',
 '23596',
 '28627',
 '30481',
 '56821',
 '39802',
 '41937',
 '01730',
 '63799',
 '28890',
 '49413',
 '07573',
 '17184',
 '66386',
 '49741',
 '28977',
 '16214',
 '72486',
 '35942',
 '47844',
 '23058',
 '48042',
 '70370',
 '38121',
 '41951',
 '10487',
 '16725',
 '12003',
 '00145',
 '24258',
 '00134',
 '98551',
 '16904',
 '78251',
 '31755',
 '00352',
 '94494',
 '45563',
 '49241',
 '82582',
 '49308',
 '77509',
 '19180',
 '25128',
 '05272',
 '24559',
 '49367',
 '00007',
 '00351',
 '29485',
 '02913',
 '00114',
 '77811',
 '58845',
 '98260',
 '10905',
 '84055',
 '63200',
 '91167',
 '96699',
 '11891',
 '99991',
 '74493',
 '63485',
 '45668',
 '06079',
 '03263',
 '24032',
 '47607',
 '54427',
 '82951',
 '81293',
 '56004',
 '17777',
 '68317',
 '98156',
 '00008',
 '64503',
 '29025',
 '79590',
 '42228',
 '99011',
 '67379',
 '68768',
 '61044',
 '28961',
 '71327',
 '40865',
 '03431',
 '17277',
 '28399',
 '29611',
 '30431',
 '43834',
 '18527',
 '85493',
 '73375',
 '00121',
 '32948',
 '00031',
 '00212',
 '39537',
 '83934',
 '21831',
 '29379',
 '10673',
 '59476',
 '86133',
 '19699',
 '84196',
 '48956',
 '52227',
 '65075',
 '19632',
 '77572',
 '63284',
 '34711',
 '87771',
 '20606',
 '00141',
 '75841',
 '94758',
 '01248',
 '18402',
 '38518',
 '44805',
 '39959',
 '94135',
 '16112',
 '12015',
 '68805',
 '40881',
 '28743',
 '00078',
 '76386',
 '00015',
 '06681',
 '44888',
 '00302',
 '45701',
 '00300',
 '80336',
 '00059',
 '05974',
 '97016',
 '94414',
 '45914',
 '98474',
 '17842',
 '29875',
 '68829',
 '52678',
 '54100',
 '15930',
 '23554',
 '90571',
 '00781',
 '62061',
 '00301',
 '23049',
 '10194',
 '17916',
 '62059',
 '27678',
 '63039',
 '69911',
 '82211',
 '04255',
 '59128',
 '15678',
 '09617',
 '58196',
 '96730',
 '54544',
 '59269',
 '02647',
 '83733',
 '55547',
 '01882',
 '53356',
 '46627',
 '20951',
 '54679',
 '03169',
 '00029',
 '33316',
 '15229',
 '48298',
 '72938',
 '17560',
 '02087',
 '16247',
 '10460',
 '67409',
 '26916',
 '14988',
 '16604',
 '00253',
 '94392',
 '10993',
 '00342',
 '00578',
 '93884',
 '79066',
 '14037',
 '15971',
 '41061',
 '47135',
 '04431',
 '60250',
 '92415',
 '25721',
 '89576',
 '00124',
 '37732',
 '67212',
 '12576',
 '00263',
 '05304',
 '00052',
 '00281',
 '74367',
 '32581',
 '00159',
 '71417',
 '72483',
 '16321',
 '85879',
 '47602',
 '14771',
 '51301',
 '05082',
 '00158',
 '88942',
 ...}

In [26]:
kk2=list() ## กำหนดให้เป็นลิสต์ในการเติมค่าloop
for each_row in data1.iterrows(): ## ทำการวนลูปในแถว
    if len(str(each_row[1]['site']))== 5 : #สร้างเงื่อนไขให้ site มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['site']) <= '99999' : #ถ้า site มีค่า น้อยกว่า 100000
          kk2.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไป
        elif str(each_row[1]['site']) >= '99999' : #ถ้า site มีค่า มากกว่า 100000
            kk2.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไป
    else:
        kk2.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไป

data1[kk2] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0,61,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0,89,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed

In [27]:
data2 = data1[kk2]

In [28]:
set(data2['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '01151',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '28789',
 '99795'}

In [29]:
kk3=list() ## กำหนดให้MSเป็นลิสต์ในการเติมค่าloop
for each_row in data2.iterrows(): ## ทำการวนลูปในแถวของ data8
    if len(str(each_row[1]['PartitionKey']))== 5 : #สร้างเงื่อนไขให้ PartitionKey มีจำนวนตัวอักษร 5 ตัว
        if str(each_row[1]['PartitionKey']) <= '99999' : #ถ้า PartitionKey มีค่า น้อยกว่า 100000
          kk3.append(True) ## ถ้าตรงตามเงื่อนไขให้เพิ่มเข้าไปใน MS
        elif str(each_row[1]['PartitionKey']) >= '99999' : #ถ้า PartitionKey มีค่า มากกว่า 100000
            kk3.append(False) ## ถ้าไม่ตรงตามเงื่อนไขไม่ให้เพิ่มเข้าไปใน MS
    else:
        kk3.append(False) ## ถ้่าไม่ตรงตามเงื่อนไขทั้งหมด ไม่ให้เพิ่มเข้าไปใน MS

data2[kk3] ## แสดงผล

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว
...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย

In [30]:
data3 = data2[kk3]

In [31]:
set(data3['PartitionKey'])

{'02967',
 '02586',
 '02809',
 '01395',
 '01864',
 '03305',
 '01973',
 '01096',
 '00712',
 '01580',
 '00864',
 '02009',
 '01259',
 '01142',
 '03044',
 '02555',
 '01119',
 '01433',
 '00857',
 '01744',
 '02060',
 '01093',
 '02336',
 '01637',
 '01803',
 '00385',
 '01244',
 '00844',
 '01630',
 '02210',
 '01321',
 '02891',
 '06037',
 '05126',
 '01328',
 '01157',
 '02248',
 '00507',
 '01178',
 '02054',
 '04736',
 '02488',
 '02019',
 '04800',
 '01940',
 '02027',
 '10978',
 '05831',
 '00282',
 '03113',
 '02623',
 '00738',
 '01272',
 '04052',
 '01370',
 '01926',
 '00606',
 '06020',
 '00587',
 '03052',
 '01431',
 '08991',
 '01902',
 '00897',
 '05204',
 '01340',
 '02930',
 '00570',
 '05967',
 '03542',
 '08941',
 '00246',
 '02149',
 '01083',
 '02509',
 '04732',
 '01077',
 '03550',
 '01268',
 '00899',
 '05123',
 '05114',
 '00115',
 '02017',
 '02173',
 '01307',
 '00190',
 '00667',
 '01297',
 '02596',
 '01134',
 '01688',
 '00083',
 '01206',
 '01344',
 '01391',
 '02158',
 '00462',
 '02983',
 '04691',
 '01909',
 '00648',
 '02284',
 '03300',
 '03383',
 '00011',
 '00002',
 '00209',
 '00286',
 '01360',
 '02467',
 '01146',
 '00377',
 '02775',
 '00433',
 '00770',
 '00953',
 '04793',
 '00216',
 '03298',
 '08532',
 '03909',
 '01497',
 '01686',
 '00846',
 '00769',
 '00750',
 '00058',
 '02355',
 '01787',
 '02935',
 '04697',
 '03092',
 '00775',
 '08969',
 '00085',
 '01501',
 '01449',
 '00626',
 '01298',
 '02215',
 '01756',
 '04193',
 '01236',
 '01471',
 '02242',
 '05195',
 '00960',
 '00975',
 '09003',
 '02616',
 '01700',
 '00328',
 '04666',
 '00126',
 '00179',
 '01036',
 '01448',
 '02036',
 '00271',
 '02866',
 '00307',
 '00094',
 '01793',
 '01849',
 '00614',
 '10969',
 '00037',
 '02498',
 '01948',
 '00523',
 '00586',
 '03324',
 '05233',
 '01506',
 '02022',
 '08503',
 '01641',
 '01174',
 '03004',
 '01788',
 '00162',
 '01284',
 '02825',
 '00521',
 '02773',
 '03565',
 '00234',
 '02190',
 '02566',
 '08936',
 '06722',
 '00344',
 '00671',
 '04013',
 '00941',
 '05715',
 '03533',
 '01972',
 '04115',
 '01659',
 '05724',
 '00526',
 '00401',
 '01435',
 '09039',
 '08962',
 '02455',
 '03436',
 '05982',
 '00335',
 '03420',
 '00327',
 '08974',
 '00783',
 '02946',
 '04094',
 '00430',
 '00925',
 '01981',
 '02504',
 '04039',
 '00943',
 '00980',
 '01775',
 '00392',
 '08572',
 '04812',
 '03509',
 '01436',
 '01193',
 '00142',
 '01366',
 '08922',
 '06033',
 '04782',
 '01099',
 '08987',
 '01112',
 '00243',
 '01089',
 '01234',
 '02004',
 '09037',
 '00597',
 '01039',
 '02601',
 '04670',
 '01671',
 '01654',
 '01128',
 '01935',
 '04086',
 '03321',
 '01069',
 '01668',
 '08978',
 '01155',
 '04127',
 '03265',
 '03178',
 '01154',
 '02862',
 '00689',
 '01216',
 '00932',
 '01751',
 '00451',
 '03187',
 '01773',
 '00204',
 '00555',
 '01235',
 '00709',
 '02256',
 '04098',
 '00598',
 '01243',
 '08949',
 '01609',
 '02477',
 '04730',
 '02508',
 '02196',
 '01598',
 '03101',
 '00113',
 '00017',
 '03333',
 '00565',
 '01302',
 '01481',
 '03179',
 '01652',
 '01385',
 '01437',
 '03284',
 '02257',
 '03124',
 '05133',
 '01031',
 '06060',
 '00396',
 '00033',
 '02638',
 '00453',
 '00235',
 '06050',
 '02272',
 '00189',
 '01562',
 '01136',
 '01878',
 '00241',
 '03291',
 '02253',
 '00793',
 '03100',
 '00183',
 '03963',
 '05721',
 '06062',
 '00833',
 '03222',
 '01661',
 '05172',
 '03279',
 '00886',
 '00698',
 '01809',
 '00356',
 '03981',
 '00365',
 '02912',
 '00398',
 '03335',
 '01665',
 '01510',
 '02936',
 '02078',
 '02795',
 '00219',
 '01404',
 '08979',
 '00582',
 '00743',
 '00423',
 '02287',
 '00921',
 '00692',
 '02857',
 '02268',
 '09030',
 '01194',
 '02454',
 '05289',
 '00985',
 '01479',
 '01208',
 '08982',
 '03098',
 '06039',
 '02612',
 '00040',
 '00238',
 '01145',
 '00441',
 '03254',
 '05999',
 '00294',
 '00805',
 '02330',
 '03183',
 '02713',
 '01325',
 '04043',
 '06058',
 '02968',
 '01741',
 '02652',
 '01164',
 '05323',
 '00149',
 '02743',
 '00265',
 '01062',
 '06030',
 '01101',
 '00488',
 '00710',
 '01632',
 '03033',
 '00963',
 '02073',
 '06013',
 '01738',
 '02051',
 '02050',
 '01488',
 '09028',
 '05131',
 '00148',
 '03496',
 '01225',
 '00116',
 '02875',
 '02933',
 '01122',
 '00843',
 '01986',
 '03261',
 '01382',
 '02417',
 '02873',
 '00038',
 '01428',
 '01574',
 '01625',
 '04060',
 '01402',
 '05976',
 '01897',
 '00752',
 '01312',
 '05092',
 '06045',
 '00196',
 '03548',
 '00841',
 '01210',
 '05116',
 '03067',
 '02397',
 '03252',
 '00091',
 '01016',
 '01710',
 '03236',
 '00180',
 '00232',
 '10982',
 '08981',
 '02172',
 '05983',
 '02251',
 '04639',
 '00284',
 '01300',
 '02953',
 '02559',
 '08521',
 '00426',
 '00964',
 '02584',
 '01200',
 '02979',
 '05108',
 '08988',
 '01299',
 '00638',
 '02098',
 '02021',
 '00117',
 '01257',
 '01498',
 '01821',
 '01857',
 '00967',
 '03140',
 '03454',
 '01545',
 '00459',
 '02749',
 '00191',
 '01333',
 '01605',
 '01820',
 '05146',
 '00222',
 '02212',
 '02408',
 '01697',
 '02794',
 '00210',
 '00063',
 '02116',
 '02247',
 '05382',
 '05719',
 '05235',
 '03126',
 '09024',
 '01388',
 '00566',
 '00155',
 '00714',
 '00874',
 '00993',
 '01995',
 '04071',
 '01675',
 '01152',
 '02003',
 '00096',
 '03189',
 '02702',
 '01762',
 '01291',
 '00740',
 '00387',
 '01334',
 '05281',
 '01375',
 '01394',
 '00629',
 '02914',
 '01065',
 '01123',
 '01233',
 '00937',
 '01578',
 '01774',
 '00594',
 '01000',
 '02264',
 '02380',
 '02214',
 '02313',
 '00211',
 '00992',
 '01476',
 '01891',
 '00075',
 '02973',
 '03995',
 '00772',
 '05959',
 '02006',
 '01752',
 '01186',
 '02345',
 '03233',
 '03378',
 '02299',
 '00500',
 '00880',
 '00311',
 '08967',
 '00089',
 '09015',
 '01516',
 '03411',
 '00133',
 '01614',
 '02874',
 '01760',
 '00112',
 '02069',
 '02395',
 '02423',
 '00005',
 '04080',
 '01137',
 '01613',
 '03055',
 '08902',
 '09018',
 '03227',
 '03309',
 '08942',
 '01511',
 '03538',
 '02218',
 '00402',
 '03015',
 '02352',
 '00611',
 '02220',
 '00765',
 '01211',
 '03398',
 '06009',
 '02547',
 '03059',
 '03313',
 '02496',
 '02421',
 '00942',
 '01631',
 '04683',
 '00509',
 '03345',
 '01331',
 '00715',
 '01170',
 '05960',
 '01231',
 '01836',
 '03933',
 '02965',
 '01913',
 '01100',
 '04030',
 '00763',
 '01109',
 '01888',
 '02666',
 '00546',
 '00306',
 '00225',
 '03230',
 '00666',
 '00850',
 '01993',
 '05110',
 '02254',
 '01724',
 '00595',
 '00176',
 '03109',
 '02992',
 '08960',
 '00739',
 '01005',
 '02592',
 '04179',
 '01203',
 '04008',
 '00820',
 '01723',
 '02988',
 '00531',
 '00513',
 '03434',
 '08971',
 '00684',
 '01189',
 '01533',
 '02909',
 '01182',
 '00947',
 '01885',
 '01851',
 '03510',
 '06053',
 '01976',
 '01515',
 '01329',
 '04658',
 '00169',
 '02258',
 '10991',
 '00242',
 '00858',
 '01053',
 '00901',
 '00329',
 '02534',
 '01709',
 '00815',
 '02495',
 '03049',
 '00360',
 '00464',
 '00977',
 '00258',
 '03546',
 '00429',
 '01204',
 '02189',
 '00727',
 '02162',
 '00022',
 '01996',
 '02811',
 '01572',
 '00759',
 '00288',
 '01814',
 '00025',
 '02033',
 '01372',
 '01456',
 '00021',
 '01304',
 '00347',
 '00862',
 '05095',
 '01165',
 '02439',
 '01247',
 '01467',
 '01980',
 '02610',
 '01992',
 '04674',
 '05308',
 '00623',
 '00826',
 '01311',
 '01978',
 '02893',
 '04652',
 '01172',
 '02106',
 '04024',
 '03125',
 '04735',
 '05099',
 '02763',
 '08947',
 '00938',
 '01463',
 '06052',
 '00535',
 '02452',
 '04180',
 '01080',
 '01324',
 '00946',
 '00984',
 '03332',
 '05266',
 '00437',
 '08906',
 '01889',
 '00276',
 '00816',
 '02827',
 '02466',
 '01620',
 '05147',
 '02579',
 '01117',
 '00503',
 '03042',
 '03441',
 '00032',
 '03221',
 '01314',
 '01792',
 '00837',
 '01454',
 '05785',
 '02564',
 '00062',
 '00536',
 '00165',
 '00879',
 '01088',
 '03168',
 '05096',
 '00192',
 '01527',
 '00053',
 '02151',
 '01520',
 '01608',
 '01694',
 '01790',
 '08383',
 '06014',
 '00910',
 '00989',
 '01588',
 '02526',
 '03121',
 '03180',
 '00550',
 '00354',
 '00621',
 '01105',
 '03327',
 '01472',
 '01718',
 '04072',
 '00956',
 '03372',
 '04662',
 '03549',
 '00797',
 '01153',
 '03939',
 '02181',
 '01955',
 '01470',
 '00612',
 '02892',
 '05716',
 '00705',
 '01323',
 '00177',
 '02304',
 '02627',
 '01747',
 '00066',
 '02001',
 '08919',
 '02295',
 '02561',
 '05219',
 '00532',
 '01802',
 '00898',
 '01390',
 '01832',
 '00501',
 '00357',
 '02714',
 '03983',
 '02987',
 '00624',
 '05343',
 '02079',
 '00004',
 '01653',
 '02237',
 '06029',
 '03527',
 '02922',
 '10971',
 '00090',
 '04631',
 '00452',
 '01417',
 '02197',
 '04695',
 '02980',
 '00455',
 '00067',
 '00129',
 '00583',
 '10964',
 '00907',
 '02639',
 '02845',
 '03358',
 '08994',
 '00312',
 '01734',
 '00798',
 '00971',
 '01337',
 '00087',
 '00267',
 '00156',
 '01780',
 '01927',
 '02389',
 '01143',
 '00591',
 '02536',
 '03334',
 '02451',
 '00832',
 '01806',
 '03130',
 '04690',
 '00287',
 '03014',
 '04028',
 '02934',
 '01807',
 '00512',
 '02273',
 '00346',
 '00584',
 '01308',
 '09007',
 '01950',
 '02293',
 '01912',
 '01994',
 '02209',
 '00027',
 '01858',
 '00885',
 '06023',
 '02013',
 '02180',
 '10975',
 '00489',
 '00537',
 '00554',
 '00733',
 '08928',
 '03422',
 '09036',
 '05247',
 '04673',
 '01507',
 '02669',
 '01459',
 '02852',
 '03329',
 '01791',
 '00930',
 '00197',
 '00522',
 '01015',
 '06061',
 '00405',
 '01301',
 '00839',
 '00471',
 '05127',
 '03200',
 '00406',
 '01646',
 '01989',
 '01141',
 '01873',
 '03824',
 '00257',
 '01611',
 '03400',
 '00486',
 '04136',
 '02673',
 '01592',
 '02928',
 '02030',
 '01021',
 '00829',
 '00045',
 '01009',
 '00314',
 '02692',
 '02399',
 '00386',
 '02802',
 '02163',
 '01452',
 '03381',
 '04671',
 '00603',
 '00132',
 '04620',
 '00929',
 '01999',
 '00949',
 '00830',
 '03167',
 '01577',
 '01403',
 '02487',
 '03386',
 '02199',
 '02333',
 '08912',
 '01439',
 '03136',
 '02670',
 '04785',
 '00174',
 '01490',
 '02748',
 '06312',
 '03068',
 '00391',
 '00454',
 '00549',
 '00440',
 '01457',
 '00927',
 '01575',
 '03165',
 '04074',
 '01014',
 '00367',
 '00388',
 '06717',
 '02206',
 '00345',
 '06000',
 '02390',
 '03030',
 '03980',
 '02925',
 '02456',
 '05100',
 '02861',
 '01149',
 '00542',
 '00563',
 '01121',
 '01638',
 '03877',
 '00658',
 '01444',
 '04111',
 '06026',
 '10977',
 '01862',
 '04054',
 '01782',
 '00920',
 '01908',
 '05362',
 '04696',
 ...}